In [1]:
import res
import geokit as gk

# Initialize a MERRA data file

In [2]:
src = res.weather.sources.MerraSource("D:Data/weather/merra/full/MERRA2.tavg1_2d.2015.nc4", bounds=gk.Extent(5,45,9,53))

In [3]:
# See all of the variables in this file...
src.variables

['lon',
 'lat',
 'time',
 'ALBEDO',
 'SWGDN',
 'SWGNT',
 'PS',
 'QV2M',
 'SLP',
 'T10M',
 'T2M',
 'T2MDEW',
 'T2MWET',
 'U10M',
 'U2M',
 'U50M',
 'V10M',
 'V2M',
 'V50M']

# Preload the data in this region

In [4]:
# Load a specific variable
src.load("T2M", name="air_temp")

In [5]:
# Shortcuts for loading common variables
src.loadRadiation() # loads the 'ghi' and 'dni' variables
src.loadWindSpeed(height=10) # loads the 'windspeed' variable at the indicated height (options are 2, 10, 50 meters)
src.loadTemperature() # laods the 'air_temp' variable

# Get the time series for a specific location

In [6]:
# Get a time series for a single location
t = src.get( "air_temp", (7.,50.) )

t.head()

2015-01-01 00:30:00+00:00    270.727661
2015-01-01 01:30:00+00:00    270.509308
2015-01-01 02:30:00+00:00    270.381866
2015-01-01 03:30:00+00:00    270.231079
2015-01-01 04:30:00+00:00    270.151154
Name: (7.00000,50.00000), dtype: float32

In [7]:
# Get a time series for multiple locations
t = src.get( "air_temp", [(7.,50.), (7.5,50.), (7.5,50.)])

t.head()

,"(7.00000,50.00000)","(7.50000,50.00000)","(7.50000,50.00000)"
2015-01-01 00:30:00+00:00,270.727661,271.423950,271.423950
2015-01-01 01:30:00+00:00,270.509308,271.406769,271.406769
2015-01-01 02:30:00+00:00,270.381866,271.409210,271.409210
2015-01-01 03:30:00+00:00,270.231079,271.358276,271.358276
2015-01-01 04:30:00+00:00,270.151154,271.229279,271.229279

In [9]:
# Get a time series for a single location, but interpolate the surrounding MERRA points the specified location(s)
# Options are:
#  'bilinear' -> Uses linear interpolation. Requires the surrounding 4 index points
#  'cubic' -> Uses cubic interpolation. Requires the surrounding 16 index points
t = src.get( "air_temp", (7.,50.), interpolation='bilinear' )

t.head()

2015-01-01 00:30:00+00:00    270.866919
2015-01-01 01:30:00+00:00    270.688800
2015-01-01 02:30:00+00:00    270.587335
2015-01-01 03:30:00+00:00    270.456519
2015-01-01 04:30:00+00:00    270.366779
Name: (7.00000,50.00000), dtype: float64