In [1]:
import res
import geokit as gk

# Initialize a MERRA data file

In [2]:
# The 'bounds' input limits the spatial domain of the weath data which is loaded into memory
#  - given as: [low-lat, low-lon, high-lat, high-lon]

src = res.weather.sources.MerraSource(res._TEST_DATA_["merra-like.nc4"], bounds=[5,49,7,52], verbose=False)

In [3]:
# See all of the variables in this file...
src.variables

,name,units,path,shape
lon,longitude,degrees_east,c:\users\s.ryberg\fzj\repos\res\res\test\data\...,"(5,)"
lat,latitude,degrees_north,c:\users\s.ryberg\fzj\repos\res\res\test\data\...,"(7,)"
time,time,minutes since 2005-01-01 00:30:00,c:\users\s.ryberg\fzj\repos\res\res\test\data\...,"(744,)"
U50M,eastward_wind_at_50_meters,m s-1,c:\users\s.ryberg\fzj\repos\res\res\test\data\...,"(744, 7, 5)"
V50M,northward_wind_at_50_meters,m s-1,c:\users\s.ryberg\fzj\repos\res\res\test\data\...,"(744, 7, 5)"

In [4]:
src.lats

masked_array(data=[49. , 49.5, 50. , 50.5, 51. , 51.5],
             mask=False,
       fill_value=1e+20)

# Preload the data in this region

In [5]:
# Load a specific variable
src.load("U50M", name="wind_speed")

# Get the time series for a specific location

In [6]:
# Get a time series for a single location
# Locations are given as (Lon, lat)
t = src.get( "wind_speed", locations = (6.,50.) )

t.head()

2005-01-01 00:30:00.000013+00:00    7.735280
2005-01-01 01:30:00+00:00           7.563424
2005-01-01 02:30:00.000026+00:00    7.204922
2005-01-01 03:30:00.000013+00:00    6.498482
2005-01-01 04:30:00+00:00           5.662754
Name: (6.00000,50.00000), dtype: float32

In [7]:
# Get a time series for multiple locations
t = src.get( "wind_speed", locations = [(5.5,50.), (6.0,50.), (6.7,50.)])

t.head()

,"(5.50000,50.00000)","(6.00000,50.00000)","(6.70000,50.00000)"
2005-01-01 00:30:00.000013+00:00,7.252858,7.735280,7.928639
2005-01-01 01:30:00+00:00,7.008737,7.563424,7.864205
2005-01-01 02:30:00.000026+00:00,6.554531,7.204922,7.599453
2005-01-01 03:30:00.000013+00:00,5.865670,6.498482,6.939888
2005-01-01 04:30:00+00:00,5.110020,5.662754,6.092442

In [8]:
# Get a time series for a single location, but interpolate the surrounding MERRA points the specified location(s)
# Options are:
#  'bilinear' -> Uses linear interpolation. Requires the surrounding 4 index points
#  'cubic' -> Uses cubic interpolation. Requires the surrounding 16 index points
t = src.get( "wind_speed", (6.,50.), interpolation='bilinear' )

t.head()

2005-01-01 00:30:00.000013+00:00    7.542311
2005-01-01 01:30:00+00:00           7.341549
2005-01-01 02:30:00.000026+00:00    6.944765
2005-01-01 03:30:00.000013+00:00    6.245357
2005-01-01 04:30:00+00:00           5.441660
Name: (6.00000,50.00000), dtype: float64